/* TRABALHO DESENVOLVIDO PELOS ALUNOS DE BCC DO 6 SEMESTRE */

/*html, body {
  height: 100%;
  width: 100%;
}*/

@font-face {
    font-family: 'Arcade';
    src: url('assets/fonts/crackman.ttf');
}

body{
  font-weight: bold;
  font-family: 'Arcade';
  color: #fff;
  /*background-color: #555;*/
  background-image: url('assets/img/back.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}


.playButton{
	font-family: 'Arcade';
	height: 15%;
	width: 30%;
	margin: 70px;
}

.playButton:hover{
	background-color: #252525;
	color: #fff;
}

.trumpIndex:hover{
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, */
    transform: rotate(7deg);
}
